<?xml version="1.0" encoding="utf-8"?>

<!--
Author: Kimitoshi Senno
Date: 	Sep 30, 2014
For:	CS311D Homework 3
File:	fragApp/app/src/main/AndroidManifest.xml
Purpose:Manifest for Application
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.senno.toshi.fragapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".FragmentAppActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ShowItemActivity"
            android:label="@string/app_name" />

    </application>

</manifest>
