<?xml version="1.0" encoding="utf-8"?>

<!--
Author: Kimitoshi Senno
Date: 	Oct,26 2014
For:	CS311D Homework 4
File:	PrimeNumService/app/src/main/AndroidManifest.xml
Purpose:Manifest for Application
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.senno.toshi.primenumservice" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PrimeNumService"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".MyBinderService" android:enabled="true" />
    </application>

</manifest>
